html {
  --theme-foreground: #210423;
  --theme-background: #b2b8c0;

  --font-size-very-small: 0.75rem;  /* 12px */
  --font-size-quite-small: 0.75rem; /* 14px */
  --font-size-small: 1rem;          /* 16px, base */
  --font-size-smallish: 1.125rem;   /* 18px */
  --font-size-medium: 1.25rem;      /* 20px */
  --font-size-quite-big: 1.5rem;    /* 24px */
  --font-size-big: 2rem;            /* 32px */
  --font-size-very-big: 3rem;       /* 48px */
  --font-size-really-big: 4rem;     /* 64px */

  --fixed-spacing-small: 8px;

  --text-padding-small: 0.5lh 1ch;
  --text-padding-medium: 0.5lh 1.5ch;

  --max-line-width: 100ch;
}

body {
  color: var(--theme-foreground);
  background-color: var(--theme-background);
  font-size: var(--font-size-medium);
  line-height: 1.5;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: var(--font-size-very-big);
  font-weight: bold;
}

/*
A layout where the first child acts as a sidebar on wide screens,
and a footer on narrow screens.

Usage:

<div class="optional-sidebar-layout">
  <nav></nav>
  <article></article>
</div>
*/
.optional-sidebar-layout {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
}

.optional-sidebar-layout-full-height {
  min-height: 100dvh;
}

.optional-sidebar-layout nav {
  flex: 1 25ch;
  color: var(--theme-background);
  background-color: var(--theme-foreground);
  padding: var(--text-padding-small);
}

.optional-sidebar-layout article {
  flex: 3 80ch;
  padding: var(--text-padding-medium);
  max-inline-size: var(--max-line-width);
  font-size: var(--font-size-quite-big);
}

.navigation-list {
  list-style-type: none;
  font-size: var(--font-size-medium);
  margin: 0;
  padding: 0;
}

.navigation-list {
  margin-left: var(--fixed-spacing-small);
  margin-bottom: var(--fixed-spacing-small);
}

nav a {
  color: var(--theme-background);
}

nav h1 {
  font-size: var(--font-size-quite-big);
  margin-bottom: 0;
  margin-top: 0.5lh;
}

nav h1:first-child {
  margin-top: 0;
}

nav h2, h3, h4, h5 {
  font-size: var(--font-size-medium);
  margin-bottom: 0;
  margin-top: 0.5lh;
}

nav h2:first-child,h3:first-child,h4:first-child,h5:first-child {
  margin-top: 0;
}

