<div class="cards">
  <% directories = children.select(&:is_index?) %>

  <% if directories.any? %>
    <% directories.each do |child| %>
      <div class="card">
      <h3><%= link_page(child) %></h3>
      <ul class="comma-seperated-list <% if child.children.size > 3 %> comma-seperated-list-truncated<% end %>">
      <% child.children.slice(0,3).each do |grandchild| %>
      <li><%= link_page(grandchild) %></li>
      <% end %>
      </ul>
      </div>
    <% end %>
  <% end %>
</div>

<% pages = children.reject(&:is_index?) %>
<% if pages.any? %>
  <ul>
  <% pages.each do |child| %>
  <li><%= link_page(child) %></li>
  <% end %>
  </ul>
<% end %>

