<% unless navigation.empty? %>
<% navigation.each do |index| %>
  <%= header_tag(level) { link_note(index) } %>
  <ul class="navigation-list">
    <% unless index.directories.empty? %>
    <li><%= render_nav(index.directories, level: level + 1) %></li>
    <% end %>
    <% index.notes.each do |nav_entry| %>
      <li><%= link_note(nav_entry) %></li>
    <% end %>
  </ul>
<% end %>
<% end %>
