<% unless page.nil? %>
  <% page.parent.children.each do |sibling| %>
  <%= header_tag(2) { link_page(sibling) } %>
  <% if sibling == page && page.is_index? %>
  <ul class="navigation-list">
    <% page.children.each do |nav_entry| %>
    <li><%= link_page(nav_entry) %></li>
    <% end %>
  </ul>
  <% end %>
  <% end %>
<% end %>
